@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Trabajar con enteros</h3>
    <p><a href="/Entero/Index" class="btn btn-primary btn-lg">Ir&raquo;</a></p>

    <h3>Trabajar con paises</h3>
    <p><a href="/Pais/Index" class="btn btn-primary btn-lg">Ir&raquo;</a></p>

    <h3>Trabajar con cadenas</h3>
    <p><a href="/Cadena/Index" class="btn btn-primary btn-lg">Ir&raquo;</a></p>
</div>

